# USA Car Accidents

## imports:

### External dependencies

In [3]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
import dash_bootstrap_components as dbc
from dash import Dash, Input, Output, html, dcc
import plotly.express as px
import os
import dash

### Internal dependencies

In [4]:
# internal dependencies
from constants import *
from graphs import *
from utility_functions import *

SyntaxError: invalid syntax. Perhaps you forgot a comma? (graphs.py, line 45)

## Configuration parameters:

In [ ]:
# population dataset path
Path_to_population_dataset = 'Dataset\\US_Population.csv'

# accident dataset path
Path_to_accident_dataset = 'Dataset\\US_Accidents_Sampled.csv'

# sampling factor (>=1)
Sampling_Factor = 100

## Load and edit datasets

### Population Dataset

In [ ]:
# load dataset for US population
df_pop = pd.read_csv(Path_to_population_dataset)
df_pop.dropna()
df_pop.head()

,Year,AL,AK,AZ,AR,CA,CO,CT,DE,FL,...,SD,TN,TX,UT,VT,VA,WA,WV,WI,WY
0,2016,4860545,741522,6941072,2989918,39250017,5540545,3576452,952065,20612439,...,865454,6651194,27862596,3051217,624594,8411808,7288000,1831102,5778708,585501
1,2017,4874747,739786,7044008,3001345,39536653,5607154,3573880,961939,20928863,...,869666,6715984,28304596,3101833,623657,8470020,7423362,1818157,5790186,584910
2,2018,4887681,735139,7158024,3009733,39776830,5691287,3573297,971180,21244317,...,878698,6771631,28704330,3153550,624344,8517685,7535591,1804291,5807406,578668
3,2019,4903185,731158,7278717,3017804,39576757,5758736,3571520,981822,21538187,...,882235,6829174,29145505,3205958,624358,8565256,7614893,1792147,5822434,577601
4,2020,4921532,727890,7421401,3029887,39368078,5845526,3565287,990837,21899341,...,886667,6886834,29618533,3251617,623989,8616207,7693612,1778070,5837466,567025

### Accident Dataset

In [ ]:

# import datset
df_acc = pd.read_csv(Path_to_accident_dataset)

# remove unecessary columns
df_acc.drop(['Source', 'End_Lat', 'End_Lng', 'Description', 'Airport_Code'], axis=1, inplace=True)

# remove null values
df_acc.dropna(inplace=True)

# Convert 'Start_Time' and 'End_Time to datetime
df_acc['Start_Time'] = pd.to_datetime(df_acc['Start_Time'],format='ISO8601')
df_acc['End_Time'] = pd.to_datetime(df_acc['End_Time'],format='ISO8601')

df_acc['Year'] = df_acc['Start_Time'].dt.year


# Convert the 'Severity' column to a string type
df_acc['Severity'] = df_acc['Severity'].astype(str)

# convert temperature from fareneight to celsius
df_acc['Temperature(F)'] = (df_acc['Temperature(F)'] - 32) * 5.0/9.0
df_acc.rename(columns={'Temperature(F)': 'Temperature(C)'}, inplace=True)

# remove year 2016, 2017, 2018, 2023 because they are incomplete
df_acc = df_acc[(df_acc['Start_Time'].dt.year != 2016)]
df_acc = df_acc[(df_acc['Start_Time'].dt.year != 2017)]
df_acc = df_acc[(df_acc['Start_Time'].dt.year != 2018)]
df_acc = df_acc[(df_acc['Start_Time'].dt.year != 2023)]


df_acc.head()

,Unnamed: 0,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,Distance(mi),Street,City,...,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,Year
1,4123847,A-4154878,2,2022-11-22 16:09:03,2022-11-22 17:26:55,36.126120,-86.904076,0.99,I-40 W,Nashville,...,False,False,False,False,False,Day,Day,Day,Day,2022
2,7006131,A-7055452,2,2020-06-24 20:28:00,2020-06-24 21:02:05,45.023940,-93.284640,0.00,I-94 E,Minneapolis,...,False,False,False,False,False,Day,Day,Day,Day,2020
3,1191012,A-1200791,2,2021-01-08 18:01:03,2021-01-08 18:47:15,30.471621,-91.089096,0.00,S Choctaw Dr,Baton Rouge,...,False,False,False,True,False,Night,Night,Day,Day,2021
7,801563,A-811271,3,2021-11-19 18:47:57,2021-11-19 19:17:25,40.009960,-75.064369,0.00,Fraley St,Philadelphia,...,False,False,False,False,False,Night,Night,Night,Night,2021
8,1398450,A-1408279,3,2020-08-01 13:00:16,2020-08-01 14:00:59,29.784163,-95.531845,0.00,Bunker Hill Rd,Houston,...,False,False,False,False,False,Day,Day,Day,Day,2020

In [ ]:
df_acc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44305 entries, 1 to 69999
Data columns (total 43 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             44305 non-null  int64
 1   ID                     44305 non-null  object
 2   Severity               44305 non-null  object
 3   Start_Time             44305 non-null  datetime64[ns]
 4   End_Time               44305 non-null  datetime64[ns]
 5   Start_Lat              44305 non-null  float64
 6   Start_Lng              44305 non-null  float64
 7   Distance(mi)           44305 non-null  float64
 8   Street                 44305 non-null  object
 9   City                   44305 non-null  object
 10  County                 44305 non-null  object
 11  State                  44305 non-null  object
 12  Zipcode                44305 non-null  object
 13  Country                44305 non-null  object
 14  Timezone               44305 non-null  object
 15  Weather_Timestamp      44305 non-null  object
 16  Temperature(C)         44305 non-null  float64
 17  Wind_Chill(F)          44305 non-null  float64
 18  Humidity(%)            44305 non-null  float64
 19  Pressure(in)           44305 non-null  float64
 20  Visibility(mi)         44305 non-null  float64
 21  Wind_Direction         44305 non-null  object
 22  Wind_Speed(mph)        44305 non-null  float64
 23  Precipitation(in)      44305 non-null  float64
 24  Weather_Condition      44305 non-null  object
 25  Amenity                44305 non-null  bool
 26  Bump                   44305 non-null  bool
 27  Crossing               44305 non-null  bool
 28  Give_Way               44305 non-null  bool
 29  Junction               44305 non-null  bool
 30  No_Exit                44305 non-null  bool
 31  Railway                44305 non-null  bool
 32  Roundabout             44305 non-null  bool
 33  Station                44305 non-null  bool
 34  Stop                   44305 non-null  bool
 35  Traffic_Calming        44305 non-null  bool
 36  Traffic_Signal         44305 non-null  bool
 37  Turning_Loop           44305 non-null  bool
 38  Sunrise_Sunset         44305 non-null  object
 39  Civil_Twilight         44305 non-null  object
 40  Nautical_Twilight      44305 non-null  object
 41  Astronomical_Twilight  44305 non-null  object
 42  Year                   44305 non-null  int32
dtypes: bool(13), datetime64[ns](2), float64(10), int32(1), int64(1), object(16)
memory usage: 10.9+ MB

## Dashboard

### input components:

#### first input group:

In [ ]:
input1 = dbc.Col(
    dbc.Row(
        [
        dbc.Col([
            html.P("Time Interval:"),
            dbc.Select(
                options=[
                        {"label":"Monthly", "value":"Monthly"}, 
                        {"label":"Yearly", "value":"Yearly"}, 
                        {"label":"Daily", "value":"Daily"},
                        {"label":"Hourly", "value":"Hourly"}  
                ],
                value='Monthly',
                id="Time-Interval-Select"
            )
        ], width = 6
        ),
        dbc.Col([
                html.P("View Mode:"),
                dbc.RadioItems(
                    options=[
                            {"label":"Grouped", "value":"Grouped"}, 
                            {"label":"Separated", "value":"Separated"}
                    ],
                    value='Grouped',
                    id='ViewMode-Select'
                )
            ], width = 6)
        ]
    )
)

#### second input group:

In [ ]:
input2 = dbc.Col(
    [
        html.P("Period:"),
        dbc.Select(
            options=[
                    {"label":"All", "value":"all"}, 
                    {"label":"2019", "value":"2019"},
                    {"label":"2020", "value":"2020"},
                    {"label":"2021", "value":"2021"},
                    {"label":"2022", "value":"2022"}        
            ],
            value='all',
            id="Time-Interval-Select-pie"
        ),
        
    ]
)

#### third input group:

In [ ]:
input3 = dbc.Col(
    dbc.Row(
        [
        dbc.Col([
            html.P("Order:"),
            dbc.Select(
                options=[
                    {"label":"None", "value":"None"}, 
                    {"label":"Worst to best", "value":"WorstToBest"},
                    {"label":"Best to worst", "value":"BestToWorst"},      
                ],
                value='None',
                id="Accident_per_populetion_order_select"
            )
        ]),
        dbc.Col(
            [
            html.P("Show:"),
            dbc.RadioItems(
                options=[
                        {"label":"All", "value":"all"}, 
                        {"label":"Top 10", "value":"Top 10"}
                ],
                value='Top 10',
                id='Show-Select'
            )
            ]
        )
        ]
    )
)

### Graphs:

graph functions are defined in ```graphs.py```

#### Time Distribution graph:

In [ ]:
TimeDistributionBAR = dbc.Col(
    [dcc.Graph(id='Temporal-Distribution-acc-graph')]
)

#### Severity Distribution graph:

In [ ]:
SeverityDistributionPIE = dbc.Col(
    [dcc.Graph(id='Severity-distribution-pie')]
)

#### Worst Best graph:

In [ ]:
WorstBestBAR = dbc.Col(
    [dcc.Graph(id='Accident_per_populetion_barchart')]
)

#### Temperature graph:

In [ ]:
TemperatureDistributionPIE = dbc.Col(
    [dcc.Graph(id='Temperature_PIE')],
    width=6
)

#### Location graph:

In [ ]:
LocationCoordsSCATTER = dbc.Col(
    [dcc.Graph(id='Location_Graph_Scatter')],
    width=6
)

### Dashboard Layout

In [ ]:
app = dash.Dash(__name__, external_stylesheets=[dbc.themes.BOOTSTRAP])

# title
title = dbc.Row(
    dbc.Col(html.H1("USA Accidents"), width="auto"),
    justify="center",
    className="mb-2",
)

FirstInputRow = dbc.Row(
    [input1, input2, input3]
)

FirstRow = dbc.Row(
    [TimeDistributionBAR, SeverityDistributionPIE],
    className="mb-2",
)


SecondRow = dbc.Row(
    [TemperatureDistributionPIE, LocationCoordsSCATTER]
)

lcol =  dbc.Col(
         [FirstRow, SecondRow],
         width=8
)

# right column
rcol = dbc.Col(
        [dbc.Row(WorstBestBAR)],
         width=4
)

# app layout
app.layout=dbc.Container([
    dbc.Col([
        title,
        FirstInputRow,
        dbc.Row([lcol, rcol])
        ]
    )
],
style={'width' : '100%', 'backgroundColor' : BACKGROUND_COLOR},
fluid = True,
)

app.run(debug=True)

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
Cell In[18], line 3, in WorstBestPieChart(
    time_interval='all',
    order_by='None',
    show='Top 10'
)
      1 @app.callback(Output("Accident_per_populetion_barchart", "figure"),[Input("Time-Interval-Select-pie", "value"),Input("Accident_per_populetion_order_select", "value"),Input("Show-Select", "value")])
      2 def WorstBestPieChart(time_interval, order_by, show):
----> 3     fig = BestWorstAcc(df_acc, df_pop, time_interval, order_by, (show == 'all'), Sampling_Factor)
        df_acc =        Unnamed: 0         ID Severity          Start_Time            End_Time  \
1         4123847  A-4154878        2 2022-11-22 16:09:03 2022-11-22 17:26:55
2         7006131  A-7055452        2 2020-06-24 20:28:00 2020-06-24 21:02:05
3         1191012  A-1200791        2 2021-01-08 18:01:03 2021-01-08 18:47:15
7          801563   A-811271        3 2021-11-19 18:47:57 2021-11-19 19:17:25
8         1398450  A-1408279        3 2020-08-01 13:00:16 2020-08-01 14:00:59
...           ...        ...      ...                 ...                 ...
69989     4105167  A-4136051        2 2022-05-25 12:45:00 2022-05-25 15:25:21
69990     4589661  A-4624464        2 2022-02-14 09:16:00 2022-02-14 11:45:05
69994     6364625  A-6411533        2 2021-01-06 13:04:00 2021-01-07 00:48:20
69997     1449299  A-1459136        2 2020-05-01 16:07:01 2020-05-01 17:36:48
69999     6038954  A-6083854        2 2021-10-24 15:16:30 2021-10-24 16:10:30

       Start_Lat   Start_Lng  Distance(mi)              Street  \
1      36.126120  -86.904076         0.990              I-40 W
2      45.023940  -93.284640         0.000              I-94 E
3      30.471621  -91.089096         0.000        S Choctaw Dr
7      40.009960  -75.064369         0.000           Fraley St
8      29.784163  -95.531845         0.000      Bunker Hill Rd
...          ...         ...           ...                 ...
69989  37.095827  -80.476422         1.254              I-81 N
69990  38.611550  -76.877464         0.393      Leonardtown Rd
69994  39.085339  -94.378921         1.535   S State Route 291
69997  35.230068  -80.860168         0.000              I-77 N
69999  33.822512 -118.197128         0.666             I-405 N

                 City  ...   Stop Traffic_Calming Traffic_Signal Turning_Loop  \
1           Nashville  ...  False           False          False        False
2         Minneapolis  ...  False           False          False        False
3         Baton Rouge  ...  False           False           True        False
7        Philadelphia  ...  False           False          False        False
8             Houston  ...  False           False          False        False
...               ...  ...    ...             ...            ...          ...
69989  Christiansburg  ...  False           False          False        False
69990         Waldorf  ...  False           False          False        False
69994    Independence  ...  False           False          False        False
69997       Charlotte  ...  False           False          False        False
69999      Long Beach  ...  False           False          False        False

      Sunrise_Sunset Civil_Twilight  Nautical_Twilight  Astronomical_Twilight  \
1                Day            Day                Day                    Day
2                Day            Day                Day                    Day
3              Night          Night                Day                    Day
7              Night          Night              Night                  Night
8                Day            Day                Day                    Day
...              ...            ...                ...                    ...
69989            Day            Day                Day                    Day
69990            Day            Day                Day                    Day
69994            Day            Day                Day                    Day
69997            Day            Day                Day                    Day
69999            Day            Day                Day                    Day

       Year  Temperature_Category
1      2022               Average
2      2020               Average
3      2021                  Cold
7      2021                  Cold
8      2020                   Hot
...     ...                   ...
69989  2022               Average
69990  2022                  Cold
69994  2021                  Cold
69997  2020               Average
69999  2021               Average

[44305 rows x 44 columns]
        df_pop =    Year       AL      AK       AZ       AR        CA       CO       CT  \
0  2016  4860545  741522  6941072  2989918  39250017  5540545  3576452
1  2017  4874747  739786  7044008  3001345  39536653  5607154  3573880
2  2018  4887681  735139  7158024  3009733  39776830  5691287  3573297
3  2019  4903185  731158  7278717  3017804  39576757  5758736  3571520
4  2020  4921532  727890  7421401  3029887  39368078  5845526  3565287
5  2021  4932347  724357  7563835  3038999  39296476  5947734  3558172
6  2022  4945478  721549  7705272  3048999  39283497  6045680  3558172

        DE        FL  ...      SD       TN        TX       UT      VT  \
0   952065  20612439  ...  865454  6651194  27862596  3051217  624594
1   961939  20928863  ...  869666  6715984  28304596  3101833  623657
2   971180  21244317  ...  878698  6771631  28704330  3153550  624344
3   981822  21538187  ...  882235  6829174  29145505  3205958  624358
4   990837  21899341  ...  886667  6886834  29618533  3251617  623989
5  1001687  22228606  ...  891082  6944265  30138244  3298760  623347
6  1010956  22538582  ...  895258  7001099  30665882  3348056  623347

        VA       WA       WV       WI      WY
0  8411808  7288000  1831102  5778708  585501
1  8470020  7423362  1818157  5790186  584910
2  8517685  7535591  1804291  5807406  578668
3  8565256  7614893  1792147  5822434  577601
4  8616207  7693612  1778070  5837466  567025
5  8662583  7773443  1765718  5851754  563767
6  8707735  7859978  1752552  5868249  560235

[7 rows x 51 columns]
        time_interval = 'all'
        order_by = 'None'
        show == 'all' = False
        Sampling_Factor = 100
        show = 'Top 10'
      4     return fig

File c:\Users\loren\Documents\GitHub\ARD_Project\graphs.py:306, in BestWorstAcc(
    df_BW_acc=       Unnamed: 0         ID Severity          S...             Average

[44305 rows x 44 columns],
    df_BW_pop=   Year       AL      AK       AZ       AR      ...1752552  5868249  560235

[7 rows x 51 columns],
    time_interval='all',
    orderby='None',
    show_all=False,
    SampleRescalingFactor=100
)
    301 # Create the bar chart using Plotly
    302
    303 # Map the full state names to the DataFrame
    304 data['State'] = data['State'].map(CODE_TO_NAME)
--> 306 fig = px.bar(
        px = <module 'plotly.express' from 'c:\\Users\\loren\\AppData\\Local\\Programs\\Python\\Python312\\Lib\\site-packages\\plotly\\express\\__init__.py'>
        data =             State  Accident_Rate_per_100k
38   South Dakota               11.306520
39      Tennessee              394.482271
40          Texas              244.361962
41           Utah              414.754339
42       Virginia              572.203978
43        Vermont               32.032904
44     Washington              155.285603
45      Wisconsin               86.359797
46  West Virginia              133.396546
47        Wyoming              112.794359
        title = 'Average Accidents per 100,000 Residents by State'
        BESTWORST_HEIGHT = 700
    307     data,
    308     y='State',
    309     x='Accident_Rate_per_100k',
    310     title=title,
    311     labels={'Accident_Rate_per_100k': 'Accidents per 100,000 Residents'},
    312     height=BESTWORST_HEIGHT
    313 )
    314 return fig

File c:\Users\loren\AppData\Local\Programs\Python\Python312\Lib\site-packages\plotly\express\_chart_types.py:373, in bar(
    data_frame=            State  Accident_Rate_per_100k
38   S....396546
47        Wyoming              112.794359,
    x='Accident_Rate_per_100k',
    y='State',
    color=None,
    pattern_shape=None,
    facet_row=None,
    facet_col=None,
    facet_col_wrap=0,
    facet_row_spacing=None,
    facet_col_spacing=None,
    hover_name=None,
    hover_data=None,
    custom_data=None,
    text=None,
    base=None,
    error_x=None,
    error_x_minus=None,
    error_y=None,
    error_y_minus=None,
    animation_frame=None,
    animation_group=None,
    category_orders=None,
    labels={'Accident_Rate_per_100k': 'Accidents per 100,000 Residents'},
    color_discrete_sequence=None,
    color_discrete_map=None,
    color_continuous_scale=None,
    pattern_shape_sequence=None,
    pattern_shape_map=None,
    range_color=None,
    color_continuous_midpoint=None,
    opacity=None,
    orientation=None,
    barmode='relative',
    log_x=False,
    log_y=False,
    range_x=None,
    range_y=None,
    text_auto=False,
    title='Average Accidents per 100,000 Residents by State',
    template=None,
    width=None,
    height=700
)
    325 def bar(
    326     data_frame=None,
    327     x=None,
   (...)
    367     height=None,
    368 ) -> go.Figure:
    369     """
    370     In a bar plot, each row of `data_frame` is represented as a rectangular
    371     mark.
    372     """
--> 373     return make_figure(
        go = <module 'plotly.graph_objs' from 'c:\\Users\\loren\\AppData\\Local\\Programs\\Python\\Python312\\Lib\\site-packages\\plotly\\graph_objs\\__init__.py'>
        barmode = 'relative'
    374         args=locals(),
    375         constructor=go.Bar,
    376         trace_patch=dict(textposition="auto"),
    377         layout_patch=dict(barmode=barmode),
    378     )

File c:\Users\loren\AppData\Local\Programs\Python\Python312\Lib\site-packages\plotly\express\_core.py:2088, in make_figure(
    args={'animation_frame': None, 'animation_group': None, 'barmode': 'relative', 'base': None, 'category_orders': None, 'color': None, 'color_continuous_midpoint': None, 'color_continuous_scale': None, 'color_discrete_map': None, 'color_discrete_sequence': None, ...},
    constructor=<class 'plotly.graph_objs._bar.Bar'>,
    trace_patch={'textposition': 'auto'},
    layout_patch={'barmode': 'relative'}
)
   2086 trace_patch = trace_patch or {}
   2087 layout_patch = layout_patch or {}
-> 2088 apply_default_cascade(args)
        args = {'data_frame':             State  Accident_Rate_per_100k
38   South Dakota               11.306520
39      Tennessee              394.482271
40          Texas              244.361962
41           Utah              414.754339
42       Virginia              572.203978
43        Vermont               32.032904
44     Washington              155.285603
45      Wisconsin               86.359797
46  West Virginia              133.396546
47        Wyoming              112.794359, 'x': 'Accident_Rate_per_100k', 'y': 'State', 'color': None, 'pattern_shape': None, 'facet_row': None, 'facet_col': None, 'facet_col_wrap': 0, 'facet_row_spacing': None, 'facet_col_spacing': None, 'hover_name': None, 'hover_data': None, 'custom_data': None, 'text': None, 'base': None, 'error_x': None, 'error_x_minus': None, 'error_y': None, 'error_y_minus': None, 'animation_frame': None, 'animation_group': None, 'category_orders': None, 'labels': {'Accident_Rate_per_100k': 'Accidents per 100,000 Residents'}, 'color_discrete_sequence': None, 'color_discrete_map': None, 'color_continuous_scale': None, 'pattern_shape_sequence': None, 'pattern_shape_map': None, 'range_color': None, 'color_continuous_midpoint': None, 'opacity': None, 'orientation': None, 'barmode': 'relative', 'log_x': False, 'log_y': False, 'range_x': None, 'range_y': None, 'text_auto': False, 'title': 'Average Accidents per 100,000 Residents by State', 'template': None, 'width': None, 'height': 700}
   2090 args = build_dataframe(args, constructor)
   2091 if constructor in [go.Treemap, go.Sunburst, go.Icicle] and args["path"] is not None:

File c:\Users\loren\AppData\Local\Programs\Python\Python312\Lib\site-packages\plotly\express\_core.py:973, in apply_default_cascade(
    args={'animation_frame': None, 'animation_group': None, 'barmode': 'relative', 'base': None, 'category_orders': None, 'color': None, 'color_continuous_midpoint': None, 'color_continuous_scale': None, 'color_discrete_map': None, 'color_discrete_sequence': None, ...}
)
    970 if "pattern_shape_sequence" in args:
    971     if args["pattern_shape_sequence"] is None and args["template"].data.bar:
    972         args["pattern_shape_sequence"] = [
--> 973             bar.marker.pattern.shape for bar in args["template"].data.bar
        args = {'data_frame':             State  Accident_Rate_per_100k
38   South Dakota               11.306520
39      Tennessee              394.482271
40          Texas              244.361962
41           Utah              414.754339
42       Virginia              572.203978
43        Vermont               32.032904
44     Washington              155.285603
45      Wisconsin               86.359797
46  West Virginia              133.396546
47        Wyoming              112.794359, 'x': 'Accident_Rate_per_100k', 'y': 'State', 'color': None, 'pattern_shape': None, 'facet_row': None, 'facet_col': None, 'facet_col_wrap': 0, 'facet_row_spacing': None, 'facet_col_spacing': None, 'hover_name': None, 'hover_data': None, 'custom_data': None, 'text': None, 'base': None, 'error_x': None, 'error_x_minus': None, 'error_y': None, 'error_y_minus': None, 'animation_frame': None, 'animation_group': None, 'category_orders': None, 'labels': {'Accident_Rate_per_100k': 'Accidents per 100,000 Residents'}, 'color_discrete_sequence': None, 'color_discrete_map': None, 'color_continuous_scale': None, 'pattern_shape_sequence': None, 'pattern_shape_map': None, 'range_color': None, 'color_continuous_midpoint': None, 'opacity': None, 'orientation': None, 'barmode': 'relative', 'log_x': False, 'log_y': False, 'range_x': None, 'range_y': None, 'text_auto': False, 'title': 'Average Accidents per 100,000 Residents by State', 'template': None, 'width': None, 'height': 700}
        args["pattern_shape_sequence"] = None
        args["template"] = None
    974         ]
    975     if not args["pattern_shape_sequence"] or not any(
    976         args["pattern_shape_sequence"]
    977     ):
    978         args["pattern_shape_sequence"] = ["", "/", "\\", "x", "+", "."]

File c:\Users\loren\AppData\Local\Programs\Python\Python312\Lib\site-packages\plotly\graph_objs\bar\marker\_pattern.py:252, in Pattern.shape(
    self=<class 'plotly.graph_objs.bar.marker._pattern.Pattern'> instance
)
    237 @property
    238 def shape(self):
    239     """
    240     Sets the shape of the pattern fill. By default, no pattern is
    241     used for filling the area.
   (...)
    250     Any|numpy.ndarray
    251     """
--> 252     return self["shape"]
        Exception trying to inspect frame. No more locals available.

File c:\Users\loren\AppData\Local\Programs\Python\Python312\Lib\site-packages\plotly\basedatatypes.py:4748, in BasePlotlyType.__getitem__(
    self=<class 'plotly.graph_objs.bar.marker._pattern.Pattern'> instance,
    prop='shape'
)
   4745             self._compound_array_props[prop] = []
   4747     return validator.present(self._compound_array_props[prop])
-> 4748 elif self._props is not None and prop in self._props:
        prop = 'shape'
        Exception trying to inspect frame. No more locals available.
   4749     return validator.present(self._props[prop])
   4750 elif self._prop_defaults is not None:

File c:\Users\loren\AppData\Local\Programs\Python\Python312\Lib\site-packages\plotly\basedatatypes.py:4443, in BasePlotlyType._props(
    self=<class 'plotly.graph_objs.bar.marker._pattern.Pattern'> instance
)
   4440     return self._orphan_props
   4441 else:
   4442     # Get data from parent's dict
-> 4443     return self.parent._get_child_props(self)
        Exception trying to inspect frame. No more locals available.

File c:\Users\loren\AppData\Local\Programs\Python\Python312\Lib\site-packages\plotly\basedatatypes.py:4457, in BasePlotlyType._get_child_props(
    self=<class 'plotly.graph_objs.bar._marker.Marker'> instance,
    child=<class 'plotly.graph_objs.bar.marker._pattern.Pattern'> instance
)
   4445 def _get_child_props(self, child):
   4446     """
   4447     Return properties dict for child
   4448
   (...)
   4455     dict
   4456     """
-> 4457     if self._props is None:
        Exception trying to inspect frame. No more locals available.
   4458         # If this node's properties are uninitialized then so are its
   4459         # child's
   4460         return None
   4461     else:
   4462         # ### Child a compound property ###

File c:\Users\loren\AppData\Local\Programs\Python\Python312\Lib\site-packages\plotly\basedatatypes.py:4443, in BasePlotlyType._props(
    self=<class 'plotly.graph_objs.bar._marker.Marker'> instance
)
   4440     return self._orphan_props
   4441 else:
   4442     # Get data from parent's dict
-> 4443     return self.parent._get_child_props(self)
        Exception trying to inspect frame. No more locals available.

File c:\Users\loren\AppData\Local\Programs\Python\Python312\Lib\site-packages\plotly\basedatatypes.py:4457, in BasePlotlyType._get_child_props(
    self=<class 'plotly.graph_objs._bar.Bar'> instance,
    child=<class 'plotly.graph_objs.bar._marker.Marker'> instance
)
   4445 def _get_child_props(self, child):
   4446     """
   4447     Return properties dict for child
   4448
   (...)
   4455     dict
   4456     """
-> 4457     if self._props is None:
        Exception trying to inspect frame. No more locals available.
   4458         # If this node's properties are uninitialized then so are its
   4459         # child's
   4460         return None
   4461     else:
   4462         # ### Child a compound property ###

File c:\Users\loren\AppData\Local\Programs\Python\Python312\Lib\site-packages\plotly\basedatatypes.py:4443, in BasePlotlyType._props(
    self=<class 'plotly.graph_objs._bar.Bar'> instance
)
   4440     return self._orphan_props
   4441 else:
   4442     # Get data from parent's dict
-> 4443     return self.parent._get_child_props(self)
        Exception trying to inspect frame. No more locals available.

File c:\Users\loren\AppData\Local\Programs\Python\Python312\Lib\site-packages\plotly\basedatatypes.py:4477, in BasePlotlyType._get_child_props(
    self=layout.template.Data({
    'bar': [{'error_x': {...': 'white'}},
               'type': 'table'}]
}),
    child=<class 'plotly.graph_objs._bar.Bar'> instance
)
   4475 elif isinstance(validator, CompoundArrayValidator):
   4476     children = self[child.plotly_name]
-> 4477     child_ind = BaseFigure._index_is(children, child)
        Exception trying to inspect frame. No more locals available.
   4478     assert child_ind is not None
   4480     children_props = self._props.get(child.plotly_name, None)

File c:\Users\loren\AppData\Local\Programs\Python\Python312\Lib\site-packages\plotly\basedatatypes.py:3971, in BaseFigure._index_is(
    iterable=(Bar({
    'error_x': {'color': '#2a3f5f'},
    '...ode': 'overlay', 'size': 10, 'solidity': 0.2}}
}),),
    val=<class 'plotly.graph_objs._bar.Bar'> instance
)
   3969 index_list = [i for i, curr_val in enumerate(iterable) if curr_val is val]
   3970 if not index_list:
-> 3971     raise ValueError("Invalid value")
   3973 return index_list[0]

ValueError: Invalid value

### Callbacks:

#### Time Distribution callback:

In [ ]:
@app.callback(Output("Temporal-Distribution-acc-graph", "figure"),[Input("Time-Interval-Select", "value"), Input("ViewMode-Select", "value"),Input("Time-Interval-Select-pie", "value")])
def TDABarchart(time_interval, ViewMode, year):
    if(ViewMode == 'Grouped'):
        fig = SingleBarChart(df_acc, time_interval, Sampling_Factor, year)
        return fig
    else:
        if(ViewMode == 'Separated'):
            fig = MultiBarChart(df_acc, time_interval, Sampling_Factor, year)
            return fig

#### Severity Distribution callback:

In [ ]:
@app.callback(Output("Severity-distribution-pie", "figure"),[Input("Time-Interval-Select-pie", "value")])
def SDPiechart(time_interval):
    fig = PieChart(df_acc, time_interval)
    return fig

#### Worst Best callback:

In [ ]:
@app.callback(Output("Accident_per_populetion_barchart", "figure"),[Input("Time-Interval-Select-pie", "value"),Input("Accident_per_populetion_order_select", "value"),Input("Show-Select", "value")])
def WorstBestPieChart(time_interval, order_by, show):
    fig = BestWorstAcc(df_acc, df_pop, time_interval, order_by, (show == 'all'), Sampling_Factor)
    return fig

#### Temperature graph:

In [ ]:
@app.callback(Output("Temperature_PIE", "figure"),[Input("Time-Interval-Select-pie", "value")])
def TemperaturePieChart(year):
    fig = TemperaturePIE(df_acc, year)
    return fig

#### Location callback:

In [ ]:
@app.callback(Output("Location_Graph_Scatter", "figure"),[Input("Time-Interval-Select-pie", "value"),Input("ViewMode-Select", "value")])
def LocationScatter(year, viewmode):
    fig = LocationScatterPlot(df_acc, year, (viewmode=='Separated'))
    return fig